
    @import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

    *{
padding: 0px;
margin: 0px;
box-sizing: border-box;
    }
body {
    font-family: roboto, sans-serif;
    color: black;
    background-color: rgba(190, 191, 190,0.86);


  
}
[contentEditable=true]:empty:before { 
	content: attr(placeholder);
  color: black;
}



#img {
    height:43.4rem;
    width: 50%;
   position: absolute;
   right: 0px;
   top: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
z-index: -1;

}

.field {
    height: 460px;
    width: 280px;
    padding: 60px;
    background-color: #fcfbfb;
    margin-left: 250px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    display: flex;
 
    }

    input[placeholder],
    #submit-button {
        padding-left: 10px;
        margin: 10px;
    font-size: 17px;

    }

.inp_typ {
    background-color: whitesmoke;
    height: 2rem;
    width: 14rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;

}
#submit-button {

    height: 2rem;
    width: 9rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
    margin-left: 50px;
    background-color:#3A9943

}

#feedback-container {
    width: 14rem;
    max-width: 150vh;
    height: 9rem;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#char-count {
    display: block;
    margin-top: 5px;
    color: gray;
    margin-left: 20px;
}

#feedback-container.over-limit {
    border-color: red;
}

#char-count.over-limit {
    color: red;
}
/* ------------------ side pannel menu ------------------------------------------------- */

    /* side pannel */
   
    #help,#menu {
      
       
        color:#3A9943;
        font-weight: 800;
        text-align:center;
        padding: 10px 0;
        padding-right: 30px;
        pointer-events: none;
    }
    #menu {
        text-align:right;
        margin-right: -6px;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        color: #011a41;
        font-weight: 800;
        padding: 9px ;
        display:block;
        text-transform: capitalize;
        text-decoration: none;
        transform: 0.2s ease;

    }
  
    ul li:hover   {
background-color:#3A9943
    }

    ul li a i {
width: 40px;
text-align: center;
    }

    #menuToggle{
    display:none; 
    visibility: hidden;
}


.toggle{
position: absolute;
height: 30px;
width: 30px;
top:15px;
left: 15px;
z-index: 1;
cursor:pointer;
border-radius: 2px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.3);


}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #0e0e0f;
    border-radius: 50px;
    transition:0.3s ease;

}
.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-180px);
    top: 0px;

}
.toggle .top_line{
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.toggle .bottom_line {
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);

}
#menuToggle:checked ~ .toggle .top_line{
    left:2px;
    top:14px;
    width:25px;
    transform: rotate(45deg);
}

#menuToggle:checked ~ .toggle .bottom_line{
    left:2px;
    top:14px;
    width:25px;
    transform: rotate(-45deg);
}

#menuToggle:checked ~ .toggle .middle_line{
    opacity: 0;
}

#menuToggle:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* -------------------------------------------------------------------------- */

/* Media query */
 /* @media (max-width: 1300px) {
    .field {
        margin-left: 90px;
padding: 30px;
    }

    #img {
        height: 100%;
    }

} */
 /* @media (max-width: 1200px) {
  
    #img {
        margin-top: 10px;
        height: 80%;
        width: 70%;
    }

} */

/* @media (max-width: 990px) {
    .field {
        height: 350px;
        width: 230;
        margin-left: 30px;
        padding-left: 25px;
        padding-top: 20px;
        padding-right: 26px;
    }

    #img {
        height: 85%;
        width: 98%;
    }

} */

 /* @media (max-width: 780px) {
    .field {
        height: 353px;
        width: 80;
        margin-left: 35px;
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 1px;

    }
    #img {
        height: 70%;
        width: 70%;
        margin-top: 10px;
    }
    div input {
        width: 180px;
        margin: 0;
        padding: 0px;
        padding-left: 5px;

    }

    div #feedback-container {
        width: 180px;
      height: 70px;
      padding-bottom: 0px;
    }

    #submit-button {
        margin-left: 50px;
      padding-top: 0px;

    }

} */
/* @media (max-width: 650px) {
    #img {
     
        position: absolute;
        top:10px;
        height: 60%;
        width: 50%;
    }

    .field {
        height: 40vh;
        width:30vh;
        margin-left: 10px;
        margin-right: 0px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
    }
    #submit-button {
        margin-top: 5px;
    }
    .field #feedback-container {
        width: 30vh;
      height: 70px;
    }

    .field .inp_typ{
        width: 30vh;
        height: 30px;
    }
} */

/* @media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .field {
        
        height: 200px;
        width: 40px;
        margin-top: 100px;
        margin-left: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 1px;
        visibility: hidden;
    }
   .field .inp_typ {
        width: 31.8vh;
        margin: 10px;
      
        padding: 0px;
        padding-left: 7px;
        visibility: visible;
        opacity: 0.8;
    }


#feedback-container {
    width: 23vh;
       max-height: 12vh;
       opacity: 0.8;
       visibility: visible;

    }

#submit-button{
    height: 30px;
    width: 100px;
    visibility: visible;
    padding: 0px;
margin-left: 10vh;
}


  #img {
     
        position: absolute;
        top:80px;
        height: 100%;
        width: 100%;

    }



#i-img {
    height: 40px;
    width: 300px;
    position: relative;
    left: 2px;
    margin-top: 100px;
    padding-bottom: 1px;

}
} */



