body{
    height:200rem;
    background:white;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); */
:root{
    --green:#3A9943;
}
*{
    font-family:roboto,sans-serif;
    border: none;
    text-decoration:none;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-transform: capitalize;
    transition: all .2s linear;
}
::selection{
    background:var(--green);
    color:#fff;
}
html{
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;
}
section{
    padding: 1.5rem 9%;
}

.heading{
    font-size:3rem;
    color:#444;
    padding-left:1rem;
    border-left:.4rem solid var(--green);
    margin-top:1rem;
    margin-bottom: 3rem;
}
/* share animation start     */

/* .wrapper .button{
    display:inline-block;
    height:30px;
    width:30px;
    float:left;
    margin:0 5px;
    overflow:hidden;
    background:#fff;
    border-radius:20px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition:all 0.3s ease-out;
}
.wrapper .button:hover{
    width:130px;
}

.wrapper .button .icon{
    display:inline-block;
    height:30px;
    width:30px;
    text-align:center;
    border-radius:20px;
    box-sizing:border-box;
    line-height:30px;
    transition:all 0.3s ease-out;
    font-size:15px;
    color:var(--green);
}
.wrapper .button:nth-child(1):hover .icon{
    background:#4267B2;
    color:white;
}
.wrapper .button:nth-child(2):hover .icon{
    background:#1DA1F2;
    color:white;
}
.wrapper .button:nth-child(3):hover .icon{
    background:#fd3678;
    color:white;
}
.wrapper .button:nth-child(4):hover .icon{
    background:#228df8;
    color:white;
    

}
.wrapper .button span{
    font-size:15px;
    font-weight:500;
    line-height:30px;
    margin-left:10px;
    transition:all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color:#4267B2;
}
.wrapper .button:nth-child(2) span{
    color:#1DA1F2;
}
.wrapper .button:nth-child(3) span{
    color:#fd3678;
}
.wrapper .button:nth-child(4) span{
    color:#228df8;
} */


/* share animation  close    */


.btn{
    display: inline-block;
    margin-top:1rem;
    padding:.8rem 3rem;
    background:var(--green);
    color:#fff;
    font-size:1.7rem;
    cursor: pointer;
}
.btn:hover{
    background:#333;
}
.header-1,
.header-2,
.header-3{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--green);
    padding:2rem 9%;
}
.header-1{
    border:.1rem solid rgba(255, 255,255,.2) ;
}
.header-3{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0 ,0, .1);
    position: relative;
    z-index:10000;
}
.header-1 span{
    font-weight:lighter;
    font-size:1.7rem;
    color: #fff;
}
.header-1 a{
    padding: 0 .7rem;
    font-size:2rem;
    color: #fff;
}
.header-1 a:hover{
    color:yellow;
}
.header-2 .logo{
    font-weight:lighter;
    font-size:3rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-2 .logo i{
    color: yellow;
}
.header-2 .search-bar-container{
    display:flex;
    align-items:center;
    width:50rem;
    padding:1.5rem;
    background:rgba(255, 255,255,.2);
    border-radius:.5rem;
}
.header-2 .search-bar-container #search-bar{
    width: 100%;
    background: none;
    text-transform:none;
    color:#fff;
    font-size:1.7rem;
    outline: none;
}
.header-2 .search-bar-container #search-icon{
    color:white;
    font-size:1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder{
    text-transform:capitalize;
    color:#ddd;
}
.header-3 .navbar a{
    margin-right: 2rem;
    font-size:2rem;
    color: #333;
}
.header-3 .navbar a:hover{
   text-decoration:solid;
}
.header-3 .icon a{
    margin-right: 2rem;
    font-size:2.5rem; 
    color: #333;
}
.header-3 a:hover{
    color:var(--green);
}

#menu-bar{
    font-size: 3rem;
    color:#333;
    border:.1rem solid #333;
    border-radius:.5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    display:none;
}

.header-3.active{
    position:fixed;
    top:0; right:0; left:0;
}
.home{
    padding-top:0;
}
.home .home-slider{
    box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    border:.1rem solid rgba(0, 0 ,0, .3);
    border-top:0;
}
.home .home-slider .box{
    background-size:cover !important;
    background-position:center !important;
    min-height:55rem;
    position: relative;
}

.home .home-slider .box .content{
    position:absolute;
    top:50%; left:5%;
    transform:translateY(-50%);
    max-width:50rem;
}
.home .home-slider .box .content span{
    font-size:3rem;
    color:#444;
}
.home .home-slider .box .content h3{
    font-size:6rem;
    color:#333;
    padding:.5rem 0;
}

.banner-content{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.banner-content .banner{
    flex:1 1 60rem;
    height:40rem;
    border:.1rem solid rgba(0, 0 ,0, .3);
    box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    overflow:hidden;
    position: relative;
}

.banner-content .banner .content{
    position: absolute;
    top:50%; left:4%;
    transform:translateY(-50%);
}
.banner-content .banner img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.banner-content .banner .content span{
    color:#666;
    font-size:1.7rem;
}

.banner-content .banner .content h3{
    color:#333;
    font-size: 3rem;
}
.banner-content .banner:hover img{
    transform: scale(1.2);
}


/* CATEGARY SECTION START  */
.Category .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.Category .box-container .box{
    position: relative;
    flex:1 1 23rem;
    height:35rem;
    overflow: hidden;
    border:.1rem solid rgba(0, 0 ,0, .3);
    box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
}
.Category .box-container .box img{
    height:100%;
    width:100%;
    object-fit:cover;
}
.Category .box-container .box .content{
    position:absolute;
    bottom:-5.5rem;
    background:#fff;
    border-top:.1rem solid rgba(0, 0 ,0, .3);
    text-align:center;
    padding:.5rem 0;
    width:100%;
}
.Category .box-container .box:hover .content{
    bottom:0;
}

.Category .box-container .box .content h3{
    color:#333;
    font-size:2.5rem;
    padding:.5rem 0;
}
.Category .box-container .box .content .btn{
    margin-bottom:1.3rem;
}


/* CATEGARY SECTION END  */



/* PROFUCT SECTION START  */
.product .box-container{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
}
.product .box-container .box{
    flex:1 1 40rem;
    border:.1rem solid rgba(0, 0 ,0, .3);
    box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    text-align: center;
    position: relative;
    overflow:hidden;
    
}
.product .box-container .box img{
    border-bottom:.1rem solid rgba(0, 0 ,0, .3);
    height:40rem;
    width:100%;
    object-fit:contain;
}
.product .box-container .box .discount{
    position:absolute;
    top:1rem; left:2rem;
    background:rgba(0, 255, 0, 0.2);
    color:var(--green);
    padding:.5rem 1rem;
    font-size:2rem;
}
.product .box-container .box .icons{
    position:absolute;
    top:1rem;right:-8rem;
    display:flex;
    flex-flow:column;
    background:#fff;
    border-radius:5rem;
    padding:.5rem;
    box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
}

.product .box-container .box:hover .icons{
    right:1rem;
}
.product .box-container .box .icons a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    font-size:1.5rem;
    color:#333;
    border-radius:5rem;
    margin: .1rem;
}
.product .box-container .box .icons a:hover{
    color:#fff;
    background:var(--green);
}
.product .box-container .box h3{
    color:#333;
    font-size:2.5rem;
    padding:1rem 0;
}
.product .box-container .box .stars i{
    color:gold;
    font-size:2rem;
}
.product .box-container .box .quantity {
    padding:1rem;
}
.product .box-container .box .quantity span{
    font-size:2rem;
}
.product .box-container .box .quantity input{
    font-size:2rem;
    padding:.5rem;
    background:rgba(0, 0 ,0, .1);
    text-align:center;
}

.product .box-container .box .price{
    font-weight:bolder;
    color:var(--green);
    font-size:2rem;
}
.product .box-container .box .price span{
    text-decoration:line-through;
    color:#999999;
    font-size:2rem;
    margin-left:2px;
}
.product .box-container .box .btn{
    display:block;
    margin:2rem;
}

.icons-container{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
}
.icons-container .icon{
    padding:2rem 0;
    display:flex;
    align-items:center;
    flex:1 1 30rem;
} 
.icons-container .icon img{
    height: 25px;
    width:25px;
    margin-left:50px;
}

.icons-container .icon .content{
    padding-left:2rem;
}
.icons-container .icon .content h3{
    font-size: 2rem;
    color: var(--green);
}
.icons-container .icon .content p{
    font-size: 1.5rem;
    color:#666;
}

.deal .row{
    display: flex;
    flex-wrap:wrap;
    gap:1.5rem;
    align-items:center;
}
.deal .row .image{
    flex:1 1 40rem;
}
.deal .row .image img{
    width:100%;
}
.deal .row .content{
    flex:1 1 40rem;
}
.deal .row .content .title{
    font-size:3.5rem;
    color:#333;
}
.deal .row .content p{
    font-size:1.5rem;
    color:#666;
    padding:1rem 0;
}
.deal .row .content .count-down{
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .row .content .count-down .box{
    width: 9rem;
    text-align:center;
    border:.1rem solid rgba(0, 0 ,0, .3);
}
.deal .row .content .count-down .box h3{
    font-size:5rem;
    color:#333;
}

.deal .row .content .count-down .box span{
    font-size:1.7rem;
    color:#fff;
    display:block;
    background:#666;
    padding:.5rem;
    margin-top:1rem;
}


.contact .row{
    display:flex;
    flex-wrap:wrap;
    border:.1rem solid rgba(0, 0 ,0, .3);
    
}
.contact .row .map{
    width:100%;
    flex: 1 1 40rem; 
}
.contact .row form{
    padding:2rem;
    flex:1 1 40rem;
}

.contact .row form .inputBox{
    position: relative;
}

.contact .row form .inputBox input, .contact .row form .inputBox textarea{
    width:100%;
    border-bottom:.1rem solid rgba(0, 0 ,0, .3);
    padding:1rem 0;
    margin:1.5rem 0;
    font-size:1.7rem;
    text-transform:none;
    color:#333;
    outline:none;
}
.contact .row form .inputBox textarea{
    resize:none;
    height:15rem;
}

.contact .row form .inputBox input:focus,
.contact .row form .inputBox textarea:focus{
    border-color:var(--green);
}

.contact .row form .inputBox label{
    position: absolute;
    top:2.3rem; left:0;
    font-size:1.7rem;
}

.contact .row form .inputBox input:focus ~ label,
.contact .row form .inputBox textarea:focus ~ label,
.contact .row form .inputBox input:valid ~ label,
.contact .row form .inputBox textarea:valid ~ label{
    top:-.2rem; 
    font-size: 1.5rem;
    color:#666;
}


section.footer{
    background-color:var(--green);
}
.footer .box-container{ 
    display: flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.footer .box-container .box{
    flex:1 1 25rem;
} 
.footer .box-container .box h3{
    color:#fff;
    font-size:2.5rem;
    padding:1rem 0;
}

.footer .box-container .box p{
    color:#fff;
    font-size: 1.5rem;
    padding:1rem 0;
}
.footer .box-container .box a{
    display:block;
    color:#fff;
    font-size:1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
    color:#fff;
}
.footer .credit{
    font-size:2rem;
    padding:2rem 1rem ;
    margin-top:2rem;
    border-top:.1rem solid rgba(0, 0 ,0, .1);
    text-align:center;
    font-weight: normal;
}

.footer .credit span{
    color:#fff;
}

.scroll-top{
     position:fixed;
     bottom:7.5rem; right:2rem;
     z-index:1000;
     font-size:3.5rem;
     background:rgba(0,255,0,0.1);
     color:#fff;
     border-radius:.5rem;
     border:.1rem solid rgba(0, 0 ,0, .1);
     padding:.5rem 1.5rem;
     display:none;
}
.scroll-top:hover{
    background-color:#fff;
    color:var(--green);
}









/* media querises */
@media(max-width:1536px){
    .banner-content .banner{
        flex:1 1 60rem;
        height:40rem;
        border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
        overflow:hidden;
        position: relative;
    }
}
@media(max-width:1200px){
    html{
        font-size:55%;
    }

}
@media(max-width:991px){
    .header-1,
    .header-2,
    .header-3{
        padding:2rem;
    }
    section{
        padding:1.5rem;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }
   
    .header-3 .navbar{
        position:absolute;
        top: 100px; left: 0; right:0;
        padding: 1rem 2rem;
        background:#eee;
        border-top:.1rem solid rgba(0, 0 ,0, .3);
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    .header-3 .navbar.active{
        clip-path:polygon(0 0,100% 0, 100% 100% , 0% 100%);
    }

    .header-3 .navbar a{
        display: block;
        margin:1.5rem 0;
        padding:1.5rem;
        border-radius: .5rem;
        border:.1rem solid rgba(0, 0 ,0, .3);
        text-align: center;
        background:#fff;
    }
    .header-2{
        flex-flow: column;
    }
    .header-2 .search-bar-container{
        width:100%;
        margin-top:2rem;
    }
    .banner-content .banner{
        flex:1 1 40rem;
        height:40rem;
        border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
        overflow:hidden;
        position: relative;
    }

}
@media(max-width:601px){
    .Category .box-container .box{
        position: relative;
        flex:1 1 18rem;
        height:35rem;
        overflow: hidden;
        border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    }
    
}
@media(max-width:480px){
    .Category .box-container .box{
        position: relative;
        flex:1 1 30rem;
        height:35rem;
        overflow: hidden;
        border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    }
}

@media(max-width:450px){
    html{
        font-size:50%;
    }
    .header-1{
        display:none;
    }
    .Category .box-container .box{
        position: relative;
        flex:1 1 30rem;
        height:35rem;
        overflow: hidden;
        border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1);
    }
}