<!-- Footer section starts -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>About us</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus nulla atque, labore rem placeat
                perspiciatis magnam! Aliquid provident magni quaerat?</p>
        </div>
        <div class="box">
            <h3>Branch location</h3>
            <a href="#">Azamgarh</a>
            <a href="#">Banaras</a>
            <a href="#">Pryagraj</a>
            <a href="#">Pratapgarh</a>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#">Category</a>
            <a href="#">Product</a>
            <a href="#">Deal</a>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h3>Follow us</h3>
            <a href="#">Facebook</a>
            <a href="#">Linkedin</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </div>
    <h1 class="credit"> created by <span> Mr.Bewda Coder </span> | all rights reserved!</h1>
</section>