<header>
    <!-- header1 -->
    <div class="header-1">
        <div class="share">
            <span>Follow us:</span>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="call">
            <span>Call us:</span>
            <a href="#">+91-7459000962</a>
        </div>
    </div>
    <!-- header 2 -->
    <div class="header-2">
        <a href="#" class="logo"><i class="fas fa-seedling"></i>Green Garden</a>
        <from action="" class="search-bar-container">
            <input type="text" id="search-bar" placeholder="Search Here...">
            <label for="search-bar" class="fas fa-search"></label>
        </from>
    </div>


    <!-- header 3 -->
    <div class="header-3">
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="http://localhost:3000/api">Home</a>
            <a href="http://localhost:3000/api/plants/category/:category">Category</a>
            <a href="#product">Product</a>
            <a href="#deal">Deal</a>
            <a href="#contact">Contact</a>
        </nav>
        <div class="icon">
            <a href="http://localhost:3000/api/user/cart" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="http://localhost:3000/api/user/signin" class="fas fa-user-circle"></a>
        </div>
    </div>

</header>