<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>writeFeel</title>
</head>

<body>
    <form method="post" action="/posts">
        <div></div>
        <div class="">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <textarea placeholder="Enter the content." name="content"></textarea>
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    </form>
</body>

</html>