body {
    height: 180rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --green: #3A9943;
}

* {
    font-family: roboto, sans-serif;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection {
    background: var(--green);
    color: #fff;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
    background-color: #fff;
    margin: 4.2rem;
    padding: 4rem;
}

.heading {
    font-size: 3rem;
    color: #444;
    padding-left: 1rem;
    border-bottom: .4rem solid var(--green);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.btn:hover {
    background: #333;
}

.header-1,
.header-2,
.header-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--green);
    padding: 2rem 9%;
}

.header-1 {
    border: .1rem solid rgba(255, 255, 255, .2);
}

.header-3 {
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10000;
}

.header-1 span {
    font-weight: lighter;
    font-size: 1.7rem;
    color: #fff;
}

.header-1 a {
    padding: 0 .7rem;
    font-size: 2rem;
    color: #fff;
}

.header-1 a:hover {
    color: yellow;
}

.header-2 .logo {
    font-weight: lighter;
    font-size: 3rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-2 .logo i {
    color: yellow;
}

.header-2 .search-bar-container {
    display: flex;
    align-items: center;
    width: 50rem;
    padding: 1.5rem;
    background: rgba(255, 255, 255, .2);
    border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar {
    width: 100%;
    background: none;
    text-transform: none;
    color: #fff;
    font-size: 1.7rem;
    outline: none;
}

.header-2 .search-bar-container #search-icon {
    color: white;
    font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder {
    text-transform: capitalize;
    color: #ddd;
}

.header-3 .navbar a {
    margin-right: 2rem;
    font-size: 2rem;
    color: #333;
}

.header-3 .navbar a:hover {
    text-decoration: solid;
}

.header-3 .icon a {
    margin-right: 2rem;
    font-size: 2.5rem;
    color: #333;
}

.header-3 a:hover {
    color: var(--green);
}

#menu-bar {
    font-size: 3rem;
    color: #333;
    border: .1rem solid #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

#cart-icon {
    position: relative;
}

#cart-notification {
    position: absolute;
    top: -14px;
    right: -7px;
    background-color: var(--green);
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

#cart-notification:hover {
    background-color: #333;
}



.header-3.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.house-box {
    margin: 4.2rem;
    background: #fff;
    padding: 3rem !important;
}

.house-box h1 {
    font-size: 4rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--green);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: #333;
}

.product {
    /* min-width:24rem; Adjust width as needed */
    overflow: hidden;
    /* Hide overflowing content */
    position: relative;
    /* For button positioning */
    margin: 0 4.2rem 0 4.2rem;
}

.product .box-container {
    /* display:flex; */
    /* flex-wrap:wrap; */

    display: flex;
    /* Use flexbox for scrolling */
    scroll-behavior: smooth;
    /* Enable smooth scrolling */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox*/
    gap: 2rem;

}

.product .box-container ::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in WebKit browsers */
}

.product .box-container .box {
    /* flex:1 1 23rem; */
    /* border:.1rem solid rgba(0, 0 ,0, .3); */
    /* box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1); */
    text-align: center;
    position: relative;
    /* overflow:hidden;  */
    min-width: 24rem;
    /* Adjust image width */
    min-height: 50rem;
    cursor: pointer;
    overflow-y: hidden;


}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Center buttons vertically */
    z-index: 1;
    /* Ensure buttons appear above images */
    background-color: rgba(11, 244, 11, 0.401);
    /* Semi-transparent background */
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

.carousel-button.left {
    left: 10px;
    margin-right: 20px;
    size: 100px;

}

.carousel-button.right {
    right: 10px;
    margin: 10px;
    margin-left: 20px;
}






.product .box-container .box img {
    /* border-bottom:.1rem solid rgba(0, 0 ,0, .3); */
    height: 32rem;
    width: 100%;
    object-fit: cover;
}

.product .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: rgba(0, 255, 0, 0.2);
    color: var(--green);
    padding: .5rem 1rem;
    font-size: 1.5rem;
    visibility: hidden;
}

.product .box-container .box .icons {
    position: absolute;
    top: 1rem;
    right: -8rem;
    display: flex;
    flex-flow: column;
    background: #fff;
    border-radius: 5rem;
    padding: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.product .box-container .box:hover .icons {
    right: 1rem;
}

.product .box-container .box .icons a {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #333;
    border-radius: 4rem;
    margin: .1rem;
}

.product .box-container .box .icons a:hover {
    color: #fff;
    background: var(--green);
}

.product .box-container .box h3 {
    color: #333;
    font-size: 2rem;
    padding: 1rem 0;
}

.product .box-container .box .stars i {
    color: gold;
    font-size: 1.5rem;
}

.product .box-container .box .size {
    padding: 1rem;
}

.product .box-container .box .size span {
    font-size: 1.6rem;
}

.product .box-container .box .size .size-choice {
    margin-left: 1rem;
    border: 1px solid #666;
    padding: 3px;
    font-size: 1rem;

}

.product .box-container .box .size .size-choice:hover {
    background-color: var(--green);
    color: white;
    border: none;
    scale: 1px;
}

.product .box-container .box .quantity {
    padding: 1rem;
}

.product .box-container .box .quantity span {
    font-size: 1.5rem;
}

.product .box-container .box .quantity input {
    font-size: 1.5rem;
    padding: .5rem;
    background: rgba(0, 0, 0, .1);
    text-align: center;
}

.product .box-container .box .price {
    font-weight: bolder;
    color: var(--green);
    font-size: 1.5rem;
}

.product .box-container .box .price span {
    text-decoration: line-through;
    color: #999999;
    font-size: 1.5rem;
    margin-left: 2px;

}

.product .box-container .box .btn {
    display: block;
    margin: 2rem;
}


.product .box-container .box .content {
    position: absolute;
    bottom: -12.5rem;
    background: #fff;
    /* border-top:.1rem solid rgba(0, 0 ,0, .3); */
    text-align: center;
    padding: .5rem 0;
    width: 100%;

}

.product .box-container .box:hover .content {
    bottom: 0px;
    ;
}



.icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.icons-container .icon {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex: 1 1 30rem;
}

.icons-container .icon img {
    height: 25px;
    width: 25px;
    margin-left: 50px;
}

.icons-container .icon .content {
    padding-left: 1.5rem;
}

.icons-container .icon .content h3 {
    font-size: 1.5rem;
    color: var(--green);
}

.icons-container .icon .content p {
    font-size: 1rem;
    color: #666;
}









section.footer {
    background-color: var(--green);
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box p {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer .credit {
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    text-align: center;
    font-weight: normal;
}

.footer .credit span {
    color: #fff;
}














/* media for resize comntent  */
/* media querises */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }


}

@media(max-width:991px) {

    .header-1,
    .header-2,
    .header-3 {
        padding: 2rem;
    }

    section {
        padding: 1.5rem;
    }
}

@media(max-width:1035px) {
    .product .box-container .box {
        flex: 1 1 30rem;
        /* border:.1rem solid rgba(0, 0 ,0, .3);
        box-shadow:0 .5rem 1rem rgba(0, 0 ,0, .1); */
        text-align: center;
        position: relative;
        overflow: hidden;

    }
}



@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }

    .header-3 .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .3);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header-3 .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header-3 .navbar a {
        display: block;
        margin: 1.5rem 0;
        padding: 1.5rem;
        border-radius: .5rem;
        border: .1rem solid rgba(0, 0, 0, .3);
        text-align: center;
        background: #fff;
    }

    .header-2 {
        flex-flow: column;
    }

    .header-2 .search-bar-container {
        width: 100%;
        margin-top: 2rem;
    }
}